<%- include('header.ejs') -%>

<h1 ><u>click below to sign up</u></h1>
<a class="link", href="/signup">Visit our Sign up page</a>
<br>
<br>
<a class="link", href="/carousel">mugshots of the worlds top computer hackers</a>
<br>
<a class="link", href="/users">here is all our users</a>
<%- include('footer.ejs') -%>
