<%- include('header.ejs') -%>
<%- include('navbar.ejs') -%>
<div class="container">
  <div class="jumbotron">
    <h1>Go Sign Up!!!</h1>
    <p>click below to sign up</p>
  </div>
</div>



<%- include('footer.ejs') -%>
