<%- include('header.ejs') -%>

<title>sign up</title>

<a class="link" href="http://localhost:8126">Click here to back to home page</a>
<br>

<% if (locals.message) { %>
  <h3 style="color: red" ><%= message %></h3>
<% } %>

<form action="/signup" method="post" >

  <div class="username">
    <label for="username">username</label>
    <input type="text" class="form-control" id="username" placeholder="username">
  </div>

  <div class="passsword">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="confirm">
    <label for="confirm"> confirm Password</label>
    <input type="password" class="form-control" id="confirm" placeholder="Password">
  </div>

  <select name="title">
    <option value="Mr">Mr</option>
    <option value="Miss">Miss</option>
    <option value="Mrs">Mrs</option>
    <option value="Master">Master</option>
  </select>

  <div class="name">
    <label for="confirm"> name</label>
    <input type="text" class="form-control" id="name" placeholder="name">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>
<!--
  <form > -->
    <!-- <br>
    title: -->
    <!-- <input type="text" name="title"> -->
<!-- <select name="title">
  <option value="Mr">Mr</option>
  <option value="Miss">Miss</option>
  <option value="Mrs">Mrs</option>
  <option value="Master">Master</option>
</select> -->

    <br>
    <br>
  <!-- <h4 style="color:blue"s>Username:</h4>
  <input type="text" name="username"> -->

    <br>
    <br>
  <!-- <h4 style="color:blue">Password:</h4>
  <input type="password" name="password"> -->

    <br>
    <br>
    <!-- <h4 style="color:blue">Confirm Password:</h4>
    <input type="password" name="confirm"> -->

<br>
<br>
  <!-- <h4 style="color:blue">Name:</h4>
    <input type="text" name="name" > -->

  <br>
  <br>
  <!-- <input type="submit" value="Submit" /><br/> -->
  <!-- </form> -->




<%- include('footer.ejs') -%>
